{% extends 'base.html' %}

{% load bootstrap_tags %}

{% block title %}Contact Us{% endblock %}

{% block content %}
<!-- Contact us template -->
<div class="bg-dark">
    <div class="d-flex justify-content-start align-items-center">
        <div class="row m-auto">
            <div class="col-sm-12">
                <h1 class="text-center text-uppercase mt-5 mb-3 text-danger">Contact Us</h1>
                <form method="post" class="text-danger">
                    {% csrf_token %}
                    {{ form | as_bootstrap}}
                    <div class="form-actions text-center">
                        <button type="submit" class="btn btn-info text-uppercase mt-3 mb-4 px-3">Send</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}