{% extends 'base.html' %}

{% load static from staticfiles %}

{% load bootstrap_tags %}

<!-- product content -->
{% block content %}
    <div class="row row-flex">

        <div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-6 col-md-4">

            <!-- Show all product that only in the cart item -->
            <div class="card-img-top product-image" style="background-image: url('{{ MEDIA_URL }}{{ product.image }}')"></div>
            <h3 value='{{ product.name }}'>Name: {{ product.name }}</h3>
            <p class="product-description">Description: {{ product.description }}</p>
            <p class="card-text">Price: {{ product.price }}</p>
        
        </div>
    </div>
<hr>
<a class="btn btn-outline-success my-2 my-sm-0" href="{% url 'products' %}">Go Back <span class="sr-only">(current)</span></a>
{% endblock %}