{% extends 'base.html' %}

{% block title %}Products{% endblock %}

{% block content %}
<div class="row row-flex">
    
    {% for product in products %}
        <div class="col-sm-12 col-md-6 col-lg-4">
            <a href='/products/{{ product.slug }}'>
                <div class="card card-body">
                    <div class="card-img-top product-image" style="background-image: url('{{ MEDIA_URL }}{{ product.image }}')"></div>
                        <h5 class="card-title">{{ product.name }}</h5>
                        <p class="card-text">${{ product.price }}</p>
                </div>
            </a>
        </div>
     {% endfor %}

</div>
<hr><a class="btn btn-outline-success my-2 my-sm-0" href="{% url 'products' %}">Go Back <span class="sr-only">(current)</span></a></hr>
{% endblock %}
