{% extends 'base.html' %}

{% block title %}Products{% endblock %}

{% block content %}
<div class="mt-5 text-danger text-capitalize text-center">
    <h1>all products</h1>
</div>
<hr class="red-line mt-3 mb-3">
<!-- All Product display -->
<div class="row row-flex">
    {% for product in products.object_list  %}
        <div class="col-sm-12 col-md-6 col-lg-4 mt-5">
            <a href='/products/{{ product.slug }}'>
                <div class="card card-body">
                    <div class="card-img-top product-image mb-1" style="background-image: url('{{ MEDIA_URL }}{{ product.image }}')"></div>
                        <h5 class="card-title text-uppercase">{{ product.name }}</h5>
                        <p class="card-text fa fa-dollar">{{ product.price }}</p>
                </div>
            </a>
        </div>
     {% endfor %}
</div>
<!-- pagination -->
<hr>
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        {% if products.has_previous %}
        <li class="page-item"><a class="page-link" href="?page={{ products.previous_page_number}} ">Previous</a></li>
        {% endif %}
        {% for pg in products.paginator.page_range %}
            {% if products.number == pg %}
                <li class="page-item active"><a class="page-link" href="?page={{ pg }}">{{ pg }}</a></li>
            {% else %}
                <li class="page-item"><a class="page-link" href="?page={{pg}}">{{pg}}</a></li>
            {% endif %}
        {% endfor %}
        {% if products.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{products.next_page_number}}">Next</a></li>
        {% endif %}
    </ul>
</nav>
{% endblock %}