{% extends 'base.html' %}

{% load static from staticfiles %}

{% load bootstrap_tags %}

<!-- product content -->
{% block content %}
<div class="row row-flex justify-content-center">
    <div class="mt-5 px-4 col-sm-12 col-md-10 col-lg-10 align-items-left">
<!-- Name -->
    <div class="mt-5 mb-5">
        <h3>{{ product.name }}</h3>
    </div>
<!-- image -->
    <div class="mt-5 mb-5">
        <div class="product-image-view" style="background-image: url('{{ MEDIA_URL }}{{ product.image }}')"></div>
    </div>

<!-- Price -->
    <div class="">
        <p><strong>Price: </strong><span class="fa fa-dollar"></span>{{ product.price }}</p>
    </div>
<hr>

<!-- Qty, and add to cart -->
    <div class=" col-sm-8 col-md-6 col-lg-6 mb-5">
    <form method="post" action="{% url 'add_to_cart' product.id %}">
        {% csrf_token %}
        <div class="input-group">
            <input name="quantity" type="number" min="1" max="50" class="form-control quantity" placeholder="Qty" required>
            <span class="input-group-btn">
                <button class="btn btn-warning addToCart" type="submit"><i class="fa fa-plus mr-1"></i>Add To Cart</button>
            </span>
        </div>
    </form>
    </div>
<!-- Brand, year, and Description -->
    <div>
        <p><strong>Brand</strong> <br>{{ product.brand }}</p>
        <p><strong>Year</strong> <br>{{ product.year }}</p>
        <p><strong>Description</strong> <br>{{ product.description }}</p>
    </div>
    <hr>
    <div class=" mt-5 mb-5">
        <a class="btn btn-success my-2 my-sm-0 text-uppercase" href="{% url 'more_products' %}"><i class="fa fa-search-plus mr-1"></i>browse more</a>
    </div>
    </hr>
    </div>
</div>
{% endblock %}