/*-------------------------------------------- General */

/* To push footer at the bottom of the page
header height is 56px and footer height is 211px */
.main-content {
    min-height: calc(100vh - (56px + 211px));
    width: 100%;
}

a {
    color: #000;
}

a:link {
  text-decoration: none;
}

.h1{
    margin: 0;
}

/*-------------------------------------------- Card */
.card {
    border-radius: border;
    margin: 0.5em;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
/* cart count */
.badge {
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 50px;
}

/*-------------------------------------------- Read line */
.red-line {
    width: 5em;
    border: 1px solid rgb(220, 53, 69);
}

/*-------------------------------------------- Icons */
.fa-shopping-cart {
    font-size: 24px;
}

/*-------------------------------------------- buttons */

.addToCart{
    margin: 0.2em;
}

.quantity {
    margin: 0.2em 2em;
}

/*-------------------------------------------- images */

.img{
  width: 100%;
  height: 50%;
  background-image: url('../../static/images/tech.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
  margin: 0 auto 3em;
}

.background-img {
  width: 100%;
  background-image: url('../../static/images/tech.jpg');
  background-size: cover;
  background-position: center;
}

.product-image {
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 150px;
    height: 150px;
    margin: 0 auto;
}
.product-image-view {
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 300px;
    height: 300px;
    margin: 0 auto;
}

 /*-------------------------------------------- Login form */
 .form-signin .btn {
  font-size: 80%;
  border-radius: 5rem;
  letter-spacing: .1rem;
  font-weight: bold;
  padding: 1rem;
  transition: all 0.2s;
}

/*-------------------------------------------- footer */
/* Footer: Credit to Namiq Namaz  */
#footer {
  background: #16222A;
  background: -webkit-linear-gradient(59deg, #3A6073, #16222A);
  background: linear-gradient(59deg, #3A6073, #16222A);
  color: white;
}

#footer a {
  color: #fff;
  font-size: 14px;
  transition-duration: 0.2s;
}

#footer a:hover {
  color: #FA944B;
  text-decoration: none;
}

.copy {
  font-size: 12px;
  padding: 10px;
  border-top: 1px solid #FFFFFF;
}

.footer-middle {
  padding-top: 2em;
  color: white;
}

/*SOCİAL İCONS*/

/* footer social icons */

ul.social-network {
  list-style: none;
  display: inline;
  margin-left: 0 !important;
  padding: 0;
}

ul.social-network li {
  display: inline;
  margin: 0 5px;
}


/* footer social icons */

.social-network a.icoTwitter:hover {
  background-color: rgb(92, 133, 223);
}

.social-network a.icoLinkedin:hover {
  background-color: #007bb7;
}

.social-network a.icoTwitter:hover i,
.social-network a.icoLinkedin:hover i {
  color: #fff;
}

.social-network a.socialIcon:hover,
.socialHoverClass {
  color: #44BCDD;
}

.social-circle li a {
  display: inline-block;
  position: relative;
  margin: 0 auto 0 auto;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  width: 30px;
  height: 30px;
  font-size: 15px;
}

.social-circle li i {
  margin: 0;
  line-height: 30px;
  text-align: center;
}

.social-circle li a:hover i,
.triggeredHover {
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -ms--transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}

.social-circle i {
  color: #595959;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -o-transition: all 0.8s;
  -ms-transition: all 0.8s;
  transition: all 0.8s;
}

.social-network a {
  background-color: #F9F9F9;
}

/*--------------------------------------------Media Queries*/

@media(min-width: 992px) {
    .main-content {
    width: 80%;
    }
}