{% extends "base.html" %}

{% load static from staticfiles %}

{% load bootstrap_tags %}

{% block title %}checkout{% endblock %}

{% block head_js %}
<!-- to load strip script -->
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript">
    //<![CDATA[
        Stripe.publishableKey = '{{ publishable }}';
    //]]>
</script>
<script type="text/javascript" src="{% static 'js/stripe.js' %}"></script>
{% endblock %}

{% block content %}
<!-- Order summary page in checkout -->
<div class="row row-flex justify-content-center">
    <div class="text-danger text-capitalize mt-5">
        <h1>your order summary</h1>
    </div>
    <div class="mt-3 px-4 col-sm-12 col-md-10 col-lg-10">
        <div class="row row-flex">
            <div class="table-responsive">
                <table class="table mt-5">
            <thead class="btn-secondary mt-3 mb-3">
                <tr>
                <th scope="col">Product</th>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
                <th scope="col">Quantity</th>
                </tr>
            </thead>
            <!-- Disply products -->
            {% for item in cart_items %}
            <tbody>
                <tr>
                <td><div  class="product-image" style="background-image: url('{{ MEDIA_URL }}{{ item.product.image }}')"></div></td>
                <td>{{ item.product.name }}</td>
                <td class="fa fa-euro">{{ item.product.price }}</td>
                <td>{{item.quantity}}</td>
                </tr>
            </tbody>
            {% endfor %}
            </table>
            </div>
        </div>
        <hr>
        <!-- Totoal amount -->
        <div class="row alert alert-warning">
            <strong><p>Total:<i class="fa fa-euro"></i>{{ total }}</p></strong>
        </div>
        <!-- Payment form -->
        <form role="form" method="post" id="payment-form" action="{% url 'checkout' %}">
            <legend class="text-capitalize mt-5 mb-3">payment details</legend>

            <div id="credit-card-errors" style="display: none;">
                <div id="alert-message block-message error" id="stripe-error-message"></div>
            </div>
            <div class="row">
            <div class="form-group col-sm-10 col-md-8 col-lg-6">
                {{ order_form | as_bootstrap }}
            </div>
            <div class="form-group ol-sm-10 col-md-8 col-lg-6">
                {{ payment_form | as_bootstrap }}
            </div>
            </div>
            {% csrf_token %}
            <div class="form-group col-md-12 mt-3 mb-5">
                <input class=" btn btn-primary" id="submit_payment_btn" name="commit" type="submit" value="Submit Payment">
            </div>
        </form>
    </div>
</div>
{% endblock %}