{% extends 'base.html' %} 

{% block title %}Profile{% endblock %}

{% block page_title %}{{ user }}'s Profile{% endblock %} 

{% block content %}
<!-- Profile page -->
<div class="alert alert-info">
    <div class="d-flex">
        <div class="row m-auto">
            <div class="my-5 col-sm-12">
                <div class="col-sm-12">
                    <h1 class="text-center text-capitalize mt-5 mb-3 text-danger alert alert-info">{{ user }}'s Profile</h1>
                    <p class="text-capitalize mt-5 mb-2">Hi! {{ profile.username }}</p>
                    <p class="mt-3 mb-5">Your Email address: {{ profile.email }}</p>
                    <hr class="mt-3 mb-5">
                    <!-- useful links for the user -->
                    <div class="mb-2 profile-items">
                        <a class="btn btn-warning my-2 my-sm-0 text-uppercase" href="{% url 'view_cart' %}"><i class="fa fa-shopping-cart mr-1"></i> your Cart</a>
                        <a class="btn btn-success my-2 my-sm-0 text-uppercase" href="{% url 'more_products' %}"><i class="fa fa-mobile  mr-1"></i>Products</a>
                        <a class="btn btn-secondary my-2 my-sm-0 text-uppercase" href="{% url 'email' %}"><i class="fa fa-phone  mr-1"></i>Contact Us </a>
                        <a class="btn btn-light my-2 my-sm-0 text-uppercase" href="{% url 'products' %}"><i class="fa fa-home mr-1"></i></i>home page</a>
                        <a class="btn btn-danger my-2 my-sm-0 text-uppercase" href="{% url 'logout' %}"><i class="fa fa-sign-out mr-1"></i>Logout</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container text-center my-5">
        <p class="bg-dark text-white py-3">Thank you for being with iShop!</p>
    </div>
</div>
{% endblock %}