{% extends 'base.html' %}

{% load bootstrap_tags %}

{% block title %}Registration{% endblock %}

{% block page_title %}Registration Page{% endblock %} 
 
{% block content %}
<div class="d-flex justify-content-center">
    <div class="row m-auto">
        <div class="card card-signin my-5 col-sm-12 alert alert-dark">
            <div class="card-body my-3 mx-3 alert">
                <h5 class="card-title text-center text-uppercase mt-3 mb-3 text-danger">Register</h5>
                <p>If you already have an account, please <a class="text-primary text-uppercase" href="{% url 'login' %}">sign in!</a></p>
                <form method="POST">
                    {% csrf_token %}
                    {{ registration_form | as_bootstrap}}
                    <div class="text-center">
                        <input class="btn btn-outline-info text-uppercase mt-3 mb-3" type="submit" value="Submit">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}