{% extends 'base.html' %}

{% load static from staticfiles %}

{% block title %}Cart{% endblock %}

{% load bootstrap_tags %}

<!-- cart content -->
{% block content %}
<div class="row justify-content-center">
    <div class="text-danger text-capitalize mt-5">
        <h1>your shopping list</h1>
    </div>
    <div class="mt-3 col-xs-12 col-sm-10">
        <div class="table-responsive ">
            <table class="table mt-5">
                <thead class="btn-secondary mt-3 mb-3">
                    <tr>
                    <th scope="col">Product</th>
                    <th scope="col">Name</th>
                    <th scope="col">Price</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Change Quantity</th>
                    </tr>
                </thead>
                {% if cart_items %}
                {% for item in cart_items %}
                <tbody>
                    <tr>
                    <td><div  class="product-image" style="background-image: url('{{ MEDIA_URL }}{{ item.product.image }}')"></div></td>
                    <td>{{ item.product.name }}</td>
                    <td>${{ item.product.price }}</td>
                    <td>{{item.quantity}}</td>
                    <td>
                        <form class="form-inline" method="post" action="{% url 'adjust_cart' item.id %}">
                            {% csrf_token %}
                            <div class="form-group">
                                <label class="sr-only">New Quantity</label>
                                <div class="input-group m-1">
                                    <input name="quantity" type="number" min="0" max="50" class="form-control mr-3" required>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-secondary"><i class="fa fa-edit"></i>Amend</button>
                        </form>
                    </td>
                    </tr>
                </tbody>
                {% endfor %}
                {% else %}
                    <p class="mt-3 pl-3">No items are in your Cart!</p>
                {% endif %}
            </table>
        </div>    
    </div>
</div>
 <hr class="mt-5">
 <div class="pl-4">
    <a class="btn btn-success my-2 text-uppercase" href="{% url 'more_products' %}"><i class="fa fa-search-plus mr-1"></i>continue shopping </a>
</div>
<!-- Checkout -->
<div class="row my-5 pl-5">
<div>
    <p>Total: <span class="fa fa-dollar" aria-hidden="true"></span>{{ total }}</p>
    <a href="{% url 'checkout' %}" class="btn btn-warning" role="button"><i class="fa fa-check mr-1"></i></span>Checkout</a>
</div>  
</div>
{% endblock %}
 