{% extends 'base.html' %}

{% load static from staticfiles %}

{% load bootstrap_tags %}

<!-- cart content -->
{% block content %}
<div class="row row-flex">
    {% for item in cart_items %}
    
    <div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-6 col-md-4">
        
        <!-- Show all product that only in the cart item -->
        <div class="product" style="background-image: url('{{ MEDIA_URL }}{{ item.product.image }}')"></div>
        
        <div class="card card-body">
            <div class="card-img-top product-image" style="background-image: url('{{ MEDIA_URL }}{{ item.product.image }}')"></div>
            <h3 class="card-title">{{ item.product.name }}</h3>
            <!-- <p class="product-description">{{ item.product.description }}</p> -->
            <p class="card-text">{{ item.product.price }}</p>
            <p class="card-text">Quantity: {{item.quantity}}</p>
                
                <form class="form-inline" method="post" action="{% url 'adjust_cart' item.id %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="exampleInputAmount" class="sr-only">New Quantity</label>
                        <div class="input-group">
                            <div class="input-group-addon">Enter New Quantity: </div>
                            <input name="quantity" type="number" min="0" max="50" class="form-control">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-secondary"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span>Amend</button>
                </form>
            </p>
        </div>
    </div>
    {% endfor %}
</div>
<hr>
<!-- Checkout -->
<div class="row">
    <p>Total: <span class="glyphicon glyphicon-euro" aria-hidden="true"></span>{{ total }}</p>
    <a href="{% url 'checkout' %}" class="btn btn-warning" role="button"><span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>Checkout</a>
</div>

{% endblock %}