{% load staticfiles %}
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" />
</head>

<body>
<!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
        <a class="navbar-brand active" href="{% url 'products' %}">iShop</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
            <!-- Home  -->
            <li class="nav-item">
                <a class="nav-link" href="{% url 'more_products' %}"><i class="fa fa-mobile  mr-1"></i>Products</a>
            </li>
            <!-- if user is logged in show Profile and logout-->
            {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'profile' %}"><i class="fa fa-user mr-1"></i>Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}"><i class="fa fa-sign-out mr-1"></i>Logout</a>
            </li>
            <!-- If user is not yet logged in show  Register and Login-->
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'registration' %}"><i class="fa fa-user-plus mr-1"></i>Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}"><i class="fa fa-sign-in mr-1"></i>Login</a>
            </li>
            {% endif %}
            <li class="nav-item">
                <a class="nav-link" href="/review/{{ review }}"><i class="fa fa-comments mr-1"></i>Reviews</a>
            </li>
            </ul>
            <!-- Search -->
            <div class="row">
            <form class="form-inline my-lg-0 justify-content-end" action="{% url 'search' %}" method="GET">
                <input class="form-control mb-1 mr-sm-2" type="search" placeholder="Search" name="q">
                <button class="btn btn-outline-success mb-1 mr-3" type="submit"><i class="fa fa-search mr-1"></i>Search</button>
            </form>
            </div>
            <div class="ml-2 mr-2">
                <a href="{% url 'view_cart' %}">
                    <i class="fa fa-shopping-cart shopping-cart-icon ml-0">
                    {% if product_count > 0 %}
                     <label class="badge badge-warning">{{ product_count }}</label>
                    {% endif %}
                    </i>
                </a>   
            </div>
        </div>
    </nav>
    {% if messages %}
    <div class="alert alert-primary alert-dismissible fade show" role="alert">
        {% for message in messages %} 
            {{ message }} 
        {% endfor %}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endif %} 
    
    <div class="container-fluid main-content">
    {% block content %}
    <!-- main area for iShop project -->
    {% endblock %}
    </div>
    <!-- Footer: Credit to Namiq Namaz -->
    <footer id="footer" class="pt-4" role="contentinfo">
    <div class="footer-middle">
    <div class="container mt-auto">
        <div class="row">
        <div class="col-md-4 col-sm-6">
            <!--Footer column1-->
            <div class="footer-pad">
            <h4>Popular Links</h4>
            <ul class="list-unstyled">
                <li><a href="{% url 'more_products' %}">All Products</a></li>
                <li><a href="/review/{{ review }}">Reviews</a></li>
            </ul>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <!--Footer column2-->
            <div class="footer-pad">
                <h4>Support</h4>
                <ul class="list-unstyled">
                    <li><a href="{% url 'email' %}">Contact Us </a></li>
                    <li>
                        <address>
                            <strong>iShop</strong><br>
                            1234 Street<br>
                            Dublin, Ireland<br>
                            <abbr title="Phone">P:</abbr> (353) - 871127890
                        </address>
                    </li>
                </ul>
            </div>
        </div>
            <div class="col-md-4">
            <!--Footer column3 socil media-->
                <h4>Follow Us</h4>
                <ul class="social-network social-circle">
                <li><a href="https://twitter.com/orly1100" class="icoTwitter" title="twitter" target="_blank"><i class="fa fa-twitter"></i></a></li>
                <li><a href="https://www.linkedin.com/in/tariqalrehily/" class="icoLinkedin" title="Linkedin" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                </ul>				
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 copy">
                <p class="text-center">&copy; Copyright 2018 - iShop.  All rights reserved.</p>
            </div>
        </div>
    </div>
    </div>
</footer>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    {% block head_js %}
    <!-- Inject this into base.html only when checkout is clicked -->
    {% endblock head_js %}
</body>
</html>